.experience-section {
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.item {
    margin-bottom: 2rem;
    font-size: 16px;   
    padding: 0 1rem;

    .employer {
        font-weight: bold;
        font-size: 20px;
    }

    .job-title {
        text-decoration: underline;
    }
}


// /*scrollbar styling*/
// ::-webkit-scrollbar {
//     width: 8px;
// }

// ::-webkit-scrollbar-track {
// background: #1e1e1e;
// }

// ::-webkit-scrollbar-thumb {
// background: #008ec2;
// border-radius: 10px;
// }

// ::-webkit-scrollbar-thumb:hover {
// background: #00BBFF;
// }