@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.item {
    margin-bottom: 2rem;

    .employer {
        @include font(null, 20px, bold, null, null);
    }

    .job-title {
        text-decoration: underline;
    }
}

.gap-context {
    @include font(rgb(255, 255, 255, .3), 16px, null, null, null);
    padding: 2rem 0rem;
}