.container {
    div {
        display: flex;
        height: 30%;

        .icon {
            font-size: 2rem;
            color: #008ec2;
            margin: 0 1rem;
        }

        .icon:hover {
            color:#00BBFF;
            cursor: pointer;
        }
    }

    a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
    }

    a:hover {
        color: #00BBFF;
        transition: .5s;
        cursor: pointer;
    }
}