@import '../styles/variables.scss';
@import '../styles/mixins.scss';


.container {
    div {
        display: flex;
        height: 30%;

        .icon {
            @include font($highlight2, 2rem, null, null, null);
            margin: 0 1rem;
        }

        .icon:hover {
            color:$highlight;
            cursor: pointer;
        }
    }

    a {
        @include font($default, null, bold, none, null);
    }

    a:hover {
        color: $highlight;
        transition: .5s;
        cursor: pointer;
    }
}