@import '../styles/variables.scss';
@import '../styles/mixins.scss';


.container {
    div {
        display: flex;
        height: 30%;

        .icon {
            @include font($highlight2, 2rem, null, null, null);
            margin: 0 1rem;
        }

        .icon:hover {
            color:$highlight;
            cursor: pointer;
        }
    }

    a {
        @include font($default, null, bold, none, null);
        display: inline-block;
        transition: transform 0.2s ease;
    }

    a:hover {
        color: $highlight;
        cursor: pointer;
        transition: .5s;
        animation: jump 0.3s ease;
    }

    @keyframes jump {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(-10px); }
        100% { transform: translateY(0); }
    }
}