@import '../styles/variables.scss';
@import '../styles/mixins.scss';  
  
  .menu {
    @include flexbox(column, null, null);
    box-sizing: content-box;
    min-width: 25%;
    max-width: 25%;
    padding-right: 1rem;

    div {
      text-wrap: nowrap;
      cursor: pointer;
    }

    div:hover {
      color: $highlight;
      transition: .5s;
    }

  }