  .menu {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;

    div {
      display: flex;
      justify-content: flex-start;
      min-width: 15%;
      max-width: 15%;
      text-wrap: nowrap;
      border-radius: 4px;
      padding-right: 1rem;
      cursor: pointer;
    }

    div:hover {
      color: #00BBFF;
      transition: .5s;
    }

  }