  .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing:content-box;

    div {
      display: flex;
      justify-content: flex-end;
      font-weight: bold;
      border-radius: 4px;
      padding-right: 1rem;
      cursor: pointer;
    }

    span:hover {
      color: #00BBFF;
      transition: .5s;
    }

  }