@import "../styles/variables.scss";
@import "../styles/mixins.scss";
@import "../menu/Menu.scss";
@import "../content/Content.scss";
@import "../links/Links.scss";
@import "../content/projects/Projects.scss";

.App {
  @include flexbox(row, center, center);
  @include size(100vh, null);
  background-color: $background;
  color: $default;
  font-size: 18px;
  overflow: hidden;

  .content {
    display: flex;
  }

  .App-header {
    font-size: clamp(2rem, 15vw, 3rem);
    white-space: nowrap;
  }

  .title {
    @include font($default, 1.25rem, bold, null, nowrap);
  }

  .highlight {
      color: $highlight !important;
      font-weight: bold !important;
      opacity: .9 !important;
  }

  .left-content {
    display: inline;
    @include size(100%, 30%);
    padding: 2rem 1rem 0rem 2rem;

    .selections {
      @include flexbox(column, space-between, null);
      height: 80%;
    }
  }

  .divider {
    height: 95%;
    border: 1px solid rgb(255, 255, 255, .1);
    color: rgb(255, 255, 255, .1);
  }

  .right-content {
    @include flexbox(row, center, null);
    @include size(100%, 40%);
    padding: 2rem 0rem 0rem 1rem;
    overflow-y: hidden;

    section {
      padding: 0rem;
    }
  }

  .selected {
    @include font($highlight, 20px, 600, underline, null);
  }

  .default {
    color: $default;
  }

  .footer-note {
    display: flex;
    align-items: flex-end;
    height: 75%;
    opacity: .5;
    font-size: 14px;
    margin-left: 1rem;

    span {
      cursor: pointer;
    }

  }
}



/*scrollbar styling*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
  background: $background;
}

::-webkit-scrollbar-thumb {
  background: $highlight2;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: $highlight;
}


/* Media Queries */

/* Mobile */

@media (max-width: 450px) {

  .App {
     @include flexbox(column, null, center);

     .left-content {
        @include size(50%, 95%);
        padding: none;

      .selections {
        @include flexbox(row, space-between, null);
        @include font($default, 18px, normal, none, wrap !important);
        height: 45%;

        .menu {
          @include flexbox(column, space-around, null);
          @include size(100%, 75% !important);
        }

        div > .links {
          @include size(null, 75% !important);

          .icon {
            @include font($highlight2, 1.5rem, null, null, null);
            margin: 0 1rem;
          }

          .icon:hover {
              color:$highlight;
              cursor: pointer;
          }
        }
      }
     }

     .divider {
        @include size(0px, 85%);
        margin-top: 1rem;
     }

     .right-content {
        @include size(null, 95%);
        padding: 0;

        section .skills {
          @include font(null, 12px, bold, null, wrap);
          width: 100%;
        }

        section .project {
            margin: 0;
          }

        section .details div {
          margin: 0;
        }
     }
  }
  
  .App-header {
    font-size: 20px;
  }


  /* Projects */

  .details {
    @include flexbox(column, center, null);
    @include font($default, 16px, null, null, null);
  }

}


/* Tablet */

@media (min-width: 451px) and (max-width: 912px) {

  .App {
    @include flexbox(null, space-between, null);
    @include size(75vh, 100vw);

    .left-content {
      @include size(85%, 40%);
    }

    .right-content {
      @include size(85%, 60%);
    }

    .details {
      @include flexbox(column, center, null);
      @include font($default, 16px, null, null, null);
    }
  }

}

@media (min-height: 1024px) and (max-height: 1360px) {

  .App {
    @include flexbox(null, space-between, null);
    @include size(85vh, 100vw);

    .left-content {
      @include size(100%, 40%);
    }

    .right-content {
      @include size(100%, 60%);
    }

    .details {
      @include flexbox(column, center, null);
      @include font($default, 16px, null, null, null);
    }
  }
  
}