@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.App {
  @include flexbox(row, center, null);
  @include size(100vh, null);
  background-color: $background;
  color: $default;
  font-size: 18px;
  overflow: hidden;

  .content {
    display: flex;
  }

  .App-header {
    font-size: clamp(2rem, 15vw, 5rem);
    white-space: nowrap;
  }

  .title {
    @include font($default, 1.25rem, bold, null, nowrap);
  }

  .highlight {
      color: #00BBFF !important;
      font-weight: bold !important;
      opacity: .9 !important;
  }

  .left-content {
    display: inline;
    @include size(100%, 30%);
    padding: 2rem 1rem 0rem 2rem;

    .selections {
      @include flexbox(column, space-between, null);
      height: 75%;
    }
  }

  .vertical-divider {
    height: 100%;
    border: 1px solid rgb(255, 255, 255, .5);
    opacity: .2;
  }

  .right-content {
    @include flexbox(row, center, null);
    @include size(100%, 40%);
    padding: 2rem 1rem 0rem 1rem;
    overflow-y: hidden;
  }

  .selected {
    @include font($highlight, 20px, 600, underline, null);
  }

  .default {
    color: $default;
  }

  .footer-note {
    display: flex;
    align-items: flex-end;
    height: 75%;
    opacity: .5;
    font-size: 14px;
    margin-left: 1rem;
  }
}



/*scrollbar styling*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
  background: $background;
}

::-webkit-scrollbar-thumb {
  background: $highlight2;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: $highlight;
}