@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

a {
    @include font(inherit, null, null, none, null);
    cursor: auto;
}

.project {
    width: 100%;
    margin-bottom: 4rem;
    padding: 1rem 0;
    cursor: pointer;
}

.project:hover {
    background-color: $highlight3;
}

.details {
    @include flexbox(null, null, center);
    box-sizing: border-box;


    img {
        @include size(20vh, null);
        margin-left: 1rem;
    }

    div {
        margin: 0 1rem;
    }

}