a {
    text-decoration: none;
    color: inherit;
    cursor: auto;
}

a:hover, a:visited, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    cursor: auto;
}

.project {
    width: 100%;
    margin-bottom: 4rem;
    padding: 1rem 0;
    cursor: pointer;
}

.project:hover {
    background-color: #2e2e2e;
}

.details {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;


    img {
        height: 20vh;
        width: 20vh;
        margin-left: 1rem;
    }

    div {
        margin: 0 1rem;
    }

}